.btn{
    border-radius: 0.6rem;
    background-color: #f9f9f8;
    font-family: monospace;
    padding: 0.8rem 1.2rem;
    color: #180c10;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.4s;
}

.btn:hover{
    background-color: #050504;
    color: #f0f5dc ;
}

.get-started-btn{
    background-color: #89ab3e;
    color: #001524;
    font-size: larger;
}

.get-started-btn:hover{
    background-color: #076e1f;
    color: #f0f5dc ;
}

.read-personalities-btn{
    background-color: #5373c4;
    color: #f0f5dc;
    font-size: larger;
}

.read-personalities-btn:hover{
    background-color: #062451;
    color: #f0f5dc;
}